@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/bundle";

@theme inline {

  --color-defined-green: #3B832F;
  --color-defined-darkbrown: #333333;
  --color-defined-brown: #666666;

  --shadow-defined-light: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --breakpoint-xlg: 90rem;
  --breakpoint-xxl: 120rem;

}

@layer base {

  .self-padding {
    @apply md:px-18 px-4 py-8 flex flex-col gap-12;
  }

  html {
    @apply scroll-smooth;
  }

  button {
    @apply cursor-pointer rounded-2xl hover:scale-105 transition-all duration-300 ease-in-out;
  }
}